<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            SmartLinkCloud | {% block jsondash_title %}{% endblock %}
        {% endblock %}
    </title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block aknk_css %}{% endblock %}
    {% block aknk_js %}{% endblock %}
</head>

<body>

<!-- body -->

    {% include 'layouts/menu3.html' %}
    <div class="container-fluid" style="margin-top: 50px;" >
        <div class="row" >
            <div class="col-md-12">
                
                {% include 'layouts/smartlink_flashmessages.html' %}

                {% block aknk_body %}{% endblock %}
            </div>
        </div>
    </div>

<!-- VENDOR JS -->

<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>


{% include 'layouts/smartlink_footer.html' %}
<!-- end body -->

</body>
</html>
