{% extends "layouts/base3.html" %}


{% block aknk_css %}
{{ super() }}
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome.css') }}">


<!-- APP CSS -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/overrides.css') }}"> -->

{% endblock %}

{% block aknk_js %}
{{ super() }}
<!-- VENDOR JS -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/vendor/echarts-en.min.js') }}">
    </script>

   

{% endblock %}

{% block aknk_body %}
{{ super() }}

    <div class="container">

      <!-- FIRST ROW OF BLOCKS -->     
      <div class="row">

      <!-- USER PROFILE BLOCK -->
        <div class="col-sm-12 col-lg-12">
            <div class="dash-2-unit">
                <dtitle>历史曲线</dtitle>
                <hr>
                <div id="daq_value" style="width:1000px; height: 500px;" >
                </div>
            </div>
        </div>

      </div><!-- /row -->
      
    </div> <!-- /container -->



    <script type="text/javascript">
     $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>


    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('daq_value'));

        var option = {
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data:['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50'],
                   axisLine: {
                        lineStyle: {
                            color: '#ddd', // 颜色
                            width: 3 // 粗细
                        }
                    }
            },

            yAxis: {
                type: 'value',
                axisLine: {
                        lineStyle: {
                            color: '#ddd', // 颜色
                            width: 3 // 粗细
                        }
                    }
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line',
                smooth: true
            }]
        };

        setInterval(function (){
                        //异步加载数据
                        $(function(){
                            $.getJSON($SCRIPT_ROOT + '/channel_history/'+ {{ channel_id }}, function (data) {
                                console.log(data);
                                option.series[0].data = data;
                                myChart.setOption(option);

                            });
                        });
        },5000);
    </script>




{% endblock %}

