<!DOCTYPE HTML>  
<html>  
<head>
<title>H5STREAM VIDEO</title>


    <script type=text/javascript src="{{
        url_for('static', filename='js/vendor/jquery.min.js') }}">
    </script>

    <script type=text/javascript src="{{
        url_for('static', filename='js/vendor/bootstrap.min.js') }}">
    </script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/adapter.js') }}">
    </script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/platform.js') }}">
    </script>
    <script type=text/javascript src="{{
        url_for('static', filename='js/h5splayer.js') }}">
    </script>

    <script type=text/javascript src="{{
        url_for('static', filename='js/h5splayerhelper.js') }}">
    </script>


<link rel = "stylesheet" type = "text/css" href = "{{
        url_for('static', filename='css/h5splayer.css') }}" />

</head>



<body> 

<div class="h5videodiv">
    <video class="h5video" id="h5sVideo3"  autoplay webkit-playsinline playsinline >

    </video>
    <div class="playpause" id="playpause1" ></div>
</div>

</body>

<script>

if (H5siOS() === true
	|| H5sSafariBrowser() === true)
{
	$('#h5sVideo3').prop("controls", true);

}

var conf1 = {
	videoid:'h5sVideo3',
	protocol: window.location.protocol, //http: or https:
	// host: window.location.host, //localhost:8080
	host: 'localhost:8888',
	rootpath:'/', // '/' or window.location.pathname
	token:'token3',
	hlsver:'v1', //v1 is for ts, v2 is for fmp4
	session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
};


var v1 = H5sPlayerCreate(conf1);


$('#h5sVideo3').parent().click(function () {
    if($(this).children(".h5video").get(0).paused){
		$(this).children(".h5video").get(0).play();
		if(v1 != null)
		{
			v1.disconnect();
			delete v1;
			v1 = null;
		}

		v1 = H5sPlayerCreate(conf1);
		
		console.log(v1);
        v1.connect();
        
        $(this).children(".playpause").fadeOut();
    }else{
		v1.disconnect();
		delete v1;
		v1 = null;
		$(this).children(".h5video").get(0).pause();
		$(this).children(".playpause").fadeIn();
    }
});

</script>

</html> 