{% extends "layouts/base3.html" %}


{% block aknk_css %}
{{ super() }}
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/font-awesome.css') }}">


<!-- APP CSS -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/overrides.css') }}"> -->

{% endblock %}

{% block aknk_js %}
{{ super() }}
<!-- VENDOR JS -->
    <script type=text/javascript src="{{
        url_for('static', filename='js/vendor/echarts-en.min.js') }}">
    </script>

   

{% endblock %}

{% block aknk_body %}
{{ super() }}

    <div class="container">

      <!-- FIRST ROW OF BLOCKS -->     
      <div class="row">

      <!-- USER PROFILE BLOCK -->
        <div class="col-sm-12 col-lg-12">
            <div class="dash-2-unit">
                <dtitle>历史曲线</dtitle>
                <hr>
                <div id="daq_value" style="width:1000px; height: 500px;" >
                    
                </div>
            </div>
        </div>

      </div><!-- /row -->
      
      
    </div> <!-- /container -->



    <script type="text/javascript">
     $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>


    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('daq_value'));

        var option = {

    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['350T环轧机油箱温度','350T环轧机油箱液位','350T环轧机地坑污水液位','3000T压机油箱温度','3000T压机油箱液位','3000T压机地坑污水液位','3#整形机地坑污水液位']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data:['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50'],
        axisLine: {
            lineStyle: {
                color: '#ddd', // 颜色
                width: 3 // 粗细
            }
        }
    },
    yAxis: {
        type: 'value',
        axisLine:{
            show:true,
            lineStyle:{
                color:'#193b4e'
            }
        },
        axisTick:{
            show:false
        },
        axisLabel: {
            textStyle: {
                color: '#b0fcff'
            }
        },
        splitLine:{
            lineStyle:{
                color:'#053b4c'
            }
        }

    },
    series: [
        {
            name:'350T环轧机油箱温度',
            type:'line',
            data:[120, 132, 101, 134, 90, 230, 210]
        },
        {
            name:'350T环轧机油箱液位',
            type:'line',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'350T环轧机地坑污水液位',
            type:'line',
            data:[150, 232, 201, 154, 190, 330, 410]
        },
        {
            name:'3000T压机油箱温度',
            type:'line',
            data:[320, 332, 301, 334, 390, 330, 320]
        },
        {
            name:'3000T压机油箱液位',
            type:'line',
            data:[820, 932, 901, 934, 1290, 1330, 1320]
        },
                {
            name:'3000T压机地坑污水液位',
            type:'line',
            data:[820, 932, 901, 934, 1290, 1330, 1320]
        },
                {
            name:'3#整形机地坑污水液位',
            type:'line',
            data:[820, 932, 901, 934, 1290, 1330, 1320]
        },
    ]
};


        setInterval(function (){
                        //异步加载数据
                        $(function(){
                            $.getJSON($SCRIPT_ROOT + '/daq_history_line', function (data) {

                                option.series[0].data = data[0].data;
                                option.series[1].data = data[1].data;
                                option.series[2].data = data[2].data;
                                option.series[3].data = data[3].data;
                                option.series[4].data = data[4].data;
                                option.series[5].data = data[5].data;
                                option.series[6].data = data[6].data;
                                myChart.setOption(option);

                            });
                        });
        },5000);
    </script>


{% endblock %}

